In [0]:
import pandas as pd

In [0]:
df = pd.read_json('https://raw.githubusercontent.com/build-week-pt2/CS-Build-Week-2/matt/room_info.json').T

In [22]:
df

    room_id         title  ... errors                  messages
125     125  A misty room  ...     []                        []
165     165  A misty room  ...     []  [You have walked north.]
204     204  A misty room  ...     []   [You have walked west.]
219     219  A misty room  ...     []  [You have walked north.]
216     216   A Dark Cave  ...     []   [You have walked west.]
..      ...           ...  ...    ...                       ...
110     110  A misty room  ...     []   [You have walked west.]
237     237  A misty room  ...     []   [You have walked west.]
245     245  A misty room  ...     []   [You have walked west.]
254     254  A misty room  ...     []  [You have walked south.]
314     314  A misty room  ...     []   [You have walked west.]

[500 rows x 12 columns]

In [23]:
items = pd.DataFrame(df['items'].tolist(), columns=['item_1', 'item_2', 'item_3'])
items.head()

          item_1 item_2 item_3
0           None   None   None
1           None   None   None
2  tiny treasure   None   None
3           None   None   None
4  tiny treasure   None   None

In [24]:
items['item_1'].value_counts()

tiny treasure    315
Name: item_1, dtype: int64

In [25]:
df['title'].value_counts()

A misty room                424
A Dark Cave                  36
Mt. Holloway                 29
Fully Shrine                  1
Glasowyn's Grave              1
Pirate Ry's                   1
Wishing Well                  1
Shop                          1
Arron's Athenaeum             1
The Transmogriphier           1
Sandofsky's Sanctum           1
Linh's Shrine                 1
A brightly lit room           1
The Peak of Mt. Holloway      1
Name: title, dtype: int64

In [0]:
shop = df['title'] == 'Shop'
Glasowyn_Grave = df['title'] == "Glasowyn's Grave"
Arron_Athenaeum = df['title'] == "Arron's Athenaeum"
Fully_Shrine = df['title'] == "Fully Shrine"
Sandofsky_Sanctum = df['title'] == "Sandofsky's Sanctum"
brightly_lit_room = df['title'] == "A brightly lit room"
Wishing_Well = df['title'] == "Wishing Well"
Linh_Shrine = df['title'] == "Linh's Shrine"
The_Transmogriphier = df['title'] == "The Transmogriphier"
Peak_Mt_Holloway = df['title'] == "The Peak of Mt. Holloway"
Pirate_Ry = df['title'] == "Pirate Ry's"

special_rooms = df[shop | Glasowyn_Grave | Arron_Athenaeum | Fully_Shrine | Sandofsky_Sanctum | brightly_lit_room | Wishing_Well | Linh_Shrine | The_Transmogriphier | Peak_Mt_Holloway | Pirate_Ry]

In [44]:
special_rooms.to_dict()['description']

{0: 'You are standing in the center of a brightly lit room. You notice a shop to the west and exits to the north, south and east.',
 1: "You are standing in a small shop. A sign behind the mechanical shopkeeper says 'WILL PAY FOR TREASURE'.",
 22: 'You are standing at the zenith of Mt. Holloway. You see before you a holy shrine erected in the image of a magnificent winged deity.',
 55: "You are standing besides a large well. A sign next the well reads 'EXAMINE WELL, FIND WEALTH'.",
 374: 'Here lies a shrine for Full-lifey, who captured the golden snitch and gained the power to warp between worlds with some help from his team and a solitary spy.',
 461: 'You are standing before a glowing shrine to a Linh, the Swift. She looks quite fast.',
 467: "You see a sign before you that reads:\n\n'You have found Pirate Ry's. Send a `change_name` request and I'll change your identity to whatever you wish... for a price.'",
 486: "Before you lies a radiant book of knowledge, on a pedestal inlaid with Lambda Coins. Below, a plaque reads:  Herin exists knowledge gathered by Arron of Web19/CS21. Always seek to learn. Ask questions. Don't panic, bring a towel.",
 492: 'Before you stands a statue of Sandofsky, musclebound hero from times of old: Cold as ice and twice as smooth. You feel a chill as thoughts of algorithms fill the air. Before the statue, a plaque reads, "Being a Hero, sometimes you must Recall to Zero."',
 495: 'A strange machine stands in this room.  There is a large opening on the top.  A placard reads, "Test your luck!  One item and one Lambdacoin!"',
 499: "You see a moss-topped gravestone which reads: 'Here lies Glasowyn of Web17/Labs12/CS18, who was crushed under the weight of her own gold.' There doesn't seem to be any gold around, but marks in the dirt suggest that someone has knelt there, perhaps in prayer."}

In [0]:
import json

with open("https://raw.githubusercontent.com/build-week-pt2/CS-Build-Week-2/matt/room_map.json") as f:
  traversial_graph = json.load(f)
  f.close()

In [0]:
class Queue():
    def __init__(self):
        self.queue = []
    def enqueue(self, value):
        self.queue.append(value)
    def dequeue(self):
        if self.size() > 0:
            return self.queue.pop(0)
        else:
            return None
    def size(self):
        return len(self.queue)

In [0]:
def reverse_dict(dictionary):
    return {str(v): str(k) for k, v in dictionary.items()}

In [0]:
def bfs(start_id, end_id):
    q = Queue()
    q.enqueue([start_id])
    visited = set()
    while q.size() > 0:
        path = q.dequeue()
        v = path[-1]
        if v not in visited:
            if v == end_id:
                return path
            visited.add(v)
            for neighbor in list(traversial_graph[v].values()):
                new_path = list(path)
                new_path.append(str(neighbor))
                q.enqueue(new_path)
    return None

In [32]:
bfs('77', '1')

['77', '19', '10', '0', '1']

In [0]:
short_path = bfs('77', '1')
directed_path = []
for i in range(len(short_path) + 1):
    if i + 1 < len(short_path):
        direction = reverse_dict(
            traversial_graph[str(short_path[i])])[short_path[i+1]]
        directed_path.append(direction)

In [34]:
directed_path

['e', 's', 's', 'w']

In [35]:
dict(zip(bfs('77', '1'), directed_path))

{'0': 'w', '10': 's', '19': 's', '77': 'e'}

In [0]:
def path_dict(start_id, end_id):
    short_path = bfs(str(start_id), str(end_id))
    directed_path = []
    for i in range(len(short_path) + 1):
        if i + 1 < len(short_path):
            direction = reverse_dict(
                traversial_graph[str(short_path[i])])[short_path[i+1]]
            directed_path.append(direction)
    return dict(zip(short_path, directed_path))

In [37]:
special_rooms['room_id'].to_list()

[499, 461, 486, 374, 0, 55, 1, 22, 492, 495, 467]

In [43]:
paths = {}
starting_room = 0
for i in range(len(special_rooms)):
  paths[special_rooms['title'].to_list()[i]] = path_dict(starting_room, special_rooms['room_id'].tolist()[i])

paths

{'A brightly lit room': {},
 "Arron's Athenaeum": {'0': 'n',
  '10': 'n',
  '145': 'n',
  '174': 'n',
  '19': 'n',
  '192': 'e',
  '20': 'e',
  '223': 'n',
  '27': 'e',
  '283': 'n',
  '30': 'e',
  '32': 'n',
  '331': 'e',
  '39': 'e',
  '446': 'e',
  '466': 's',
  '51': 'e',
  '57': 'e'},
 'Fully Shrine': {'0': 'n',
  '10': 'n',
  '119': 'n',
  '134': 'n',
  '147': 'w',
  '151': 'w',
  '19': 'n',
  '20': 'e',
  '207': 'n',
  '231': 'w',
  '248': 'w',
  '27': 'e',
  '280': 'n',
  '30': 'e',
  '32': 'n',
  '325': 'w',
  '39': 'n',
  '53': 'n',
  '95': 'n'},
 "Glasowyn's Grave": {'0': 'n',
  '10': 'n',
  '125': 'n',
  '165': 'w',
  '19': 'n',
  '20': 'n',
  '204': 'w',
  '216': 'w',
  '218': 'w',
  '242': 'w',
  '275': 'w',
  '456': 'w',
  '63': 'n',
  '72': 'w',
  '76': 'n',
  '83': 'w'},
 "Linh's Shrine": {'0': 'n',
  '10': 'n',
  '125': 'n',
  '165': 'w',
  '19': 'n',
  '20': 'n',
  '204': 'w',
  '216': 'n',
  '234': 'w',
  '252': 'n',
  '284': 'n',
  '302': 'n',
  '422': 'n',
  '426': 'n',
  '457': 'n',
  '63': 'n',
  '72': 'w',
  '76': 'n',
  '83': 'w'},
 "Pirate Ry's": {'0': 's',
  '100': 'e',
  '112': 's',
  '12': 'e',
  '14': 's',
  '141': 'e',
  '156': 'e',
  '164': 'e',
  '2': 'e',
  '298': 's',
  '3': 's',
  '324': 's',
  '34': 'e',
  '349': 's',
  '35': 's',
  '352': 's',
  '362': 's',
  '399': 's',
  '52': 's',
  '68': 'e',
  '9': 's'},
 "Sandofsky's Sanctum": {'0': 's',
  '108': 's',
  '117': 's',
  '12': 's',
  '131': 'w',
  '138': 'w',
  '18': 's',
  '195': 's',
  '2': 'e',
  '22': 's',
  '228': 's',
  '281': 'w',
  '3': 's',
  '317': 's',
  '387': 'w',
  '431': 'w',
  '78': 's',
  '9': 's'},
 'Shop': {'0': 'w'},
 'The Peak of Mt. Holloway': {'0': 's',
  '12': 's',
  '18': 's',
  '2': 'e',
  '3': 's',
  '9': 's'},
 'The Transmogriphier': {'0': 's',
  '102': 'w',
  '12': 's',
  '142': 'w',
  '159': 'w',
  '18': 's',
  '196': 'w',
  '197': 'n',
  '2': 'e',
  '22': 'w',
  '232': 'w',
  '235': 'n',
  '3': 's',
  '330': 'w',
  '36': 'w',
  '383': 'w',
  '60': 'w',
  '70': 'w',
  '9': 's',
  '98': 'n'},
 'Wishing Well': {'0': 'e', '23': 'e', '26': 'e', '4': 'n'}}